#sidebar {
  border-left: 1px solid #ddd;
  padding-left: 35px;
  margin-top: 40px;
  padding-bottom: 20px;
  word-wrap: break-word;

  .widget {
    margin-bottom: 30px;
  }

  .widget__title {
    color: #6E7173;
    line-height: 2.7;
    margin-top: 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    display: block;
    font-weight: normal;

    .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &:before {
        margin-right: .3rem;
      }

    }
  }
}

@media screen and (max-width: 820px) {
  #sidebar {
    display: none;
  }
}


@import "search-form";
@import "category-list";
@import "tagcloud";
