<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<!-- Google tag (gtag.js) -->
<script async src="//www.googletagmanager.com/gtag/js?id=G-NV3NVYB38C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NV3NVYB38C');
</script>
<body>
  <div class="body__container">
    <div id="header">
      {{ partial "header.html" . }}
    </div>
    <div class="pure-g" id="layout">
      <div class="pure-u-1 {{ if ne .Params.sidebar false }} pure-u-md-3-4 {{ else }} pure-u-md-4-4 {{ end }}">
        <div class="content__container">
          {{ block "main" . }}{{ end }}
        </div>
      </div>
      {{ if ne .Params.sidebar false }}
      <div class="pure-u-1-4 hidden_mid_and_down">
        {{ partial "sidebar" . }}
      </div>
      {{ end }}
      <div class="pure-u-1 {{ if ne .Params.sidebar false }} pure-u-md-3-4 {{ else }} pure-u-md-4-4 {{ end }}">
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>
</html>
