.post-copyright {
  margin: 2em 0 2em 0;
  padding: 0.5em 1em;
  border-left: 3px solid #FF1700;
  background-color: #F9F9F9;
  list-style: none;
  font-size: 14px;

  li {
    margin: 8px 0;
    color: #444;
    strong {
      margin-right: .5em;
    }
    a {
      text-decoration: none;
      color: #6E7173;

      &:active, &:hover {
        color: #444;
      }


    }
  }
}
