#codeblock-titlebar {
  overflow: hidden;
  background: #efefef;
  height: 3vh;
  .codecopy-btn {
    border: none;
    display: inline-block;
    margin: 0 0;
    z-index: 999;
    float: right;
    background-color: #efefef;
    box-shadow: none;
    outline: none;
    height: 100%;
    font-size: .3em/1.1;
    //line-height: 1em;
  }
  .codecopy-btn:hover{
    background-color: #b6b6b6;
    text-decoration-color: #1b1f23;
  }
}

