#footer {
  padding: .8em 0 3.6em;
  margin-top: 1em;
  line-height: 2.5;
  color: #6E7173;
  text-align: center;
  font-size: 14px;

  span {
    font-size: .9em;
  }

  a {
    color: #6E7173 !important;
    text-decoration: none !important;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;

    &:active, &:hover {
      color: #444;
    }

  }

}
