<link rel="stylesheet" href="//unpkg.com/@waline/client@v3/dist/waline.css">
{{/*<script src='//unpkg.com/valine/dist/Valine.min.js'></script>*/}}
<div id="vcomments" class=" v" data-class="v"></div>
<script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    if (window.location.pathname !== '/about/' && window.location.pathname !== '/frlink/') {
        init({
            el: '#vcomments',
            comment: '.valine-comment-count',
            serverURL: '{{ .Site.Params.valine.serverID }}',
            emoji: ['//unpkg.com/@waline/emojis@1.2.0/tieba'],
            search: false,
            reaction: false,
            lang: 'zh',
            locale: {
                placeholder: "Just so so",
                link: "网址",
            },
            requiredMeta: ['nick','mail'],
            imageUploader: false,

        });
        const locale_custom = {
            "nick": "昵称（必填）",
            "mail": "邮箱（必填）",
            "link": "网址（https://）"
        }
        $('.wl-header-item').each(function(){
            $(this).find('label').remove();
            $(this).find('input').each(function(){
                console.log($(this).attr('name'))
                $(this).attr('placeholder', locale_custom[$(this).attr('name')]);
            });
        });
        $(".wl-btn").each(function() {
            if ($(this).text().trim() === '登录') {
                $(this).remove();
            }
        })
        $(".wl-meta-head").remove();
        $('.wl-power').each(function(){
            let jqueryLink = $('<a>').attr('href', 'https://jquery.com/').attr("target",'_blank').text('jQuery');
            $(this).html($(this).html() + ' and ').append(jqueryLink);
        });
    }
</script>
